# Core dependencies
numpy<2
pandas
scikit-learn
matplotlib
plotly
rdkit-pypi
datasets
einops
optuna
packaging
wandb
accelerate
torch==2.4
transformers
setuptools==69.5.1
triton==2.2.0
huggingface_hub
atomInSmiles
tokenizers
tqdm

# From GitHub
git+https://github.com/state-spaces/mamba.git
git+https://github.com/Dao-AILab/causal-conv1d.git
